body {
    padding: 0;
    margin: 0; 
    background: #f2f6e9;
  }
  .navbar {
    background:#ffffff;
  }

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .nav-link{
      color:black;
  }

.header {
  background-image: url('../Pictures/back.jpg');
  background-position: center;
  position: relative;
  opacity: 0.8;
}


