<footer class="page-footer">
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/footer.css') }}"
  />
  <div class="container">
    <div class="row">
      <div class="block col-lg-8 col-md-8 col-sm-12">
        <div style="margin: -17px;">
          <img
            class="float-left"
            style="margin-right: 30px;"
            src="{{ url_for('static', filename='/Pictures/Eric_Schmit.png') }}"
            width="130"
            height="130"
          />
        </div>
        <div class="text" style="margin: 10px;">
          <h5>Eric Schmidt <small>Google Chairman</small></h5>
          <p class="font-italic h5">
            "Imagine you walk into a room, and the room is dynamic. <br />
            And with your permission and all of that, you are interacting with
            the things going on in the room."
          </p>
        </div>

        <p></p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p>
          2 Hever Haleomim, Rabeno Yeroham, Tel-Aviv <br />info@mywebsite.com
          <br />+ 972 00 44 3397
          <br />
        </p>
      </div>
    </div>
    <div class="footer-copyright text-center" style="margin: -20px;">
      © 2020 Copyright: https://github.com/knowabli/edison.git
    </div>
  </div>
</footer>
